@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our galactic enterprise!</h1>
    <p>Click <a asp-page="/Analysis/Affordable" >here</a> to see which items are best for you!</p>
</div>

<img id = "mainImg" src="~/img/galaxy.webp" />