@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our galactic enterprise!</h1>
    <p>Click <a asp-page="/Shopping" >here</a> to see which item is best for you</p>
</div>

<img id = "mainImg" src="~/img/galaxy.webp" />