@page
@model ShoppingModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Shopping Center";
}
<h1>@ViewData["Title"]</h1>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"> </script>
<script type="text/javascript">
google.charts.load('current', { 'packages': ['corechart'] });
//google.charts.setOnLoadCallback(drawVisualization);
// From this point embed the function (drawVisualization) that will render this chart of your choice
function drawVisualization() {
 // Some raw data (not necessarily accurate)
//1. Define your data …stored in the variable array “data”. The first column holds the categories on which the
// numerical data series is based. The first row holds the names of each data column
 var data = google.visualization.arrayToDataTable([
 ['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
 ['2004/05', 165, 938, 522, 998, 450, 614.6],
 ['2005/06', 135, 1120, 599, 1268, 288, 682],
 ['2006/07', 157, 1167, 587, 807, 397, 623],
 ['2007/08', 139, 1110, 615, 968, 215, 609.4],
 ['2008/09', 136, 691, 629, 1026, 366, 569.6]
 ]);
// 2. define the options for this particular chart
 var options = {
 title : 'Monthly Coffee Production by Country',
 vAxis: {title: 'Cups'},
 hAxis: {title: 'Month'},
 seriesType: 'bars',
 series: {5: {type: 'line'}}
 };
// 3. Invoke the code to draw the chart. Be sure to supply the name of the <div> element where the chart is to be rendered.
            var chart = new google.visualization.ComboChart(document.getElementById('chart'));
            chart.draw(data, options);
 }
</script>



<div id = "prelim">
    <p>Before we start, how old are you?</p>
    <input id="age" type="number"/>
    <button  onclick="checkAge();">Submit</button>
</div>
<br /><br />
<div id="main">
    <p>How many credits are you willing to spend?</p> 
    <input type="number" id="budget"/> 
    <button onclick="drawVisualization();">Submit</button>
</div>
<div id="chart"></div>

